* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.forecast {
  display: flex;
  gap: 1rem;
  text-align: center;
  overflow-x: hidden;
  padding: 1rem;
  animation: fade 1s;
  margin-inline: 4rem;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}

@keyframes fade {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.forecast > .hour {
  background: linear-gradient(
    to right bottom,
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0.3)
  );
  padding: 1rem;
  border-radius: 1rem;
  scroll-snap-align: end;
}

@media screen and (max-width: 768px) {
  .forecast {
    margin-inline: 0;
    overflow-x: scroll;
  }
}
