.container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  margin-top: 4rem;
  animation: fade 1s;
}

@keyframes fade {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.container > div {
  background: linear-gradient(
    to right bottom,
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0.3)
  );
  min-height: 15vh;
  min-width: 240px;
  border-radius: 1rem;
  text-align: center;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container > div > p.day:first-child::before {
  content: "";
  border-left: 3px solid #f8b600;
  margin-right: 0.5rem;
}
.container > div > p.night:first-child::before {
  content: "";
  border-left: 3px solid #086bc6;
  margin-right: 0.5rem;
}

.container > div > p:first-child {
  margin-right: 0.5rem;
}

@media screen and (max-width: 768px) {
  .container > div {
    min-width: 175px;
  }
}
